@import '../../scss/index';

.cart {
    margin: 40px auto 0;

    &__header {
        display: flex;
        align-items: center;

        &--empty {
            align-items: flex-start;
            flex-direction: column;
        }

        @media only screen and (max-width: 1024px) {
            max-width: 700px;

            margin: auto;

            position: relative;
        }
    }

    &__body {
        margin-top: 90px;

        .positions--total {
            align-items: flex-end;
            flex-direction: column;
            margin-top: 80px;

            .total {
                display: flex;

                width: 100%;
                justify-content: flex-end;

                padding-top: 30px;
                border-top: 1px solid $color-black;

                &__item {
                    font-size: 24px;
                    line-height: 26px;

                    &:nth-child(1) {
                        margin-right: 100px;
                    }

                    @media only screen and (max-width: 1440px) {
                        font-size: 21px;
                        line-height: 23px;
                    }

                    @media only screen and (max-width: 425px) {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                    }
                }

                @media only screen and (max-width: 425px) {
                    border-top: none;
                    padding-top: 0;
                    justify-content: space-between;
                }
            }

            .positions__order {
                margin-top: 30px;

                a {
                    width: 240px;
                    height: 60px;

                    background-color: $color-orange;

                    border: none;
                    border-radius: 14px;

                    font-size: 24px;
                    line-height: 26px;
                    letter-spacing: -0.01em;
                    text-decoration: none;
                    color: $color-white;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media only screen and (max-width: 1440px) {
                        font-size: 21px;
                        line-height: 23px;

                        width: 210px;
                        height: 55px;
                    }

                    @media only screen and (max-width: 425px) {
                        width: 145px;
                        height: 40px;

                        font-weight: 300;
                        font-size: 17px;
                        line-height: 20px;
                    }
                }

                @media only screen and (max-width: 425px) {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }
            }

            @media only screen and (max-width: 425px) {
                margin-top: 30px;
                border-bottom: none;
            }
        }

        @media only screen and (max-width: 425px) {
            margin-top: 30px;
        }
    }

    &__footer {
        margin-top: 30px;
    }

    &__sentence {
        margin: 30px -20px 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 425px) {
            flex-wrap: wrap;
        }
    }

    &__description {
        font-weight: 300;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: -0.01em;

        margin: 60px auto 0;
    }

    .headline--cart {
        margin: auto;

        &-empty {
            margin: 160px auto auto;
        }

        span {
            font-family: $font-ranchers;
            font-size: 48px;
            line-height: 50px;
        }

        @media only screen and (max-width: 425px) {
            margin-top: 60px;

            span {
                font-size: 32px;
                line-height: 34px;
            }
        }
    }

    .cart__link--back {
        position: absolute;

        a, span {
            display: flex;
            align-items: center;

            img {
                margin-right: 15px;
            }
        }

        @media only screen and (max-width: 1024px) {
            top: 15px;
        }
    }

    .headline--small {
        margin: 0 !important;
        align-items: flex-start;

        span {

            @media only screen and (max-width: 1440px) {
                font-size: 43px;
                line-height: 45px;
            }

            @media only screen and (max-width: 425px) {
                font-size: 32px;
                line-height: 34px;
            }
        }
    }

    .card--small {
        width: 190px;

        margin-top: 0;

        .card__body {

            &-title {

                @media only screen and (max-width: 1440px) {
                    font-size: 20px;
                    line-height: 23px;
                }
                @media only screen and (max-width: 1024px) {
                    font-size: 15px;
                    line-height: 20px;
                }
            }

            @media only screen and (max-width: 1024px) {
                height: 45px;
            }
        }

        .card__footer {
            flex-direction: column;
            align-items: flex-start;

            button, span {
                margin-top: 30px;

                @media only screen and (max-width: 1024px) {
                    margin-top: 20px;
                }
            }

            button {
                @media only screen and (max-width: 1440px) {
                    width: 110px;
                    height: 50px;
                }
            }
        }

        @media only screen and (max-width: 425px) {
            width: 170px;
        }
        @media only screen and (max-width: 375px) {
            width: 140px;
        }
        @media only screen and (max-width: 320px) {
            width: 120px;
        }
    }

    @media only screen and (max-width: 1024px) {
        max-width: 700px;
    }

    @media only screen and (max-width: 425px) {
        padding: 0 20px;
    }
}