.headline {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__text {
        font-size: 64px;
        line-height: 70px;
        letter-spacing: -0.01em;

        @media only screen and (max-width: 1440px) {
            font-size: 50px;
            line-height: 52px;
        }
        @media only screen and (max-width: 1024px) {
            font-size: 40px;
            line-height: 42px;
        }
        @media only screen and (max-width: 768px) {
            font-size: 35px;
            line-height: 37px;
        }
        @media only screen and (max-width: 425px) {
            text-align: center;

            font-size: 29px;
            line-height: 32px;
        }
        @media only screen and (max-width: 320px) {
            font-size: 25px;
            line-height: 27px;
        }
    }
}