@import './fonts';

/* Fonts variables */
$font-montserrat: "Montserrat", sans-serif;
$font-ranchers: "Ranchers", sans-serif;
$font-poppins: "Poppins", sans-serif;

/* Color variables */
$color-black: #000000;
$color-white: #FFFFFF;
$color-orange: #E7542C;
$color-red: #DC1818;
$color-orange--light: #F8CCC0;
$color-beige: #E5D9CB;
$color-grey--light: #333333;
$color-grey--dark: #252525;
$color-white--dark: #BABAC0;
